.dashboard
       
  #launch_select.remote_module
  :javascript
    new Ajax.Request('#{url_for(:controller => :launches, :action => :select, :params => {:orders => 'launches.created_at DESC'})}');
  %span 
    %h5 
  
    
  .remote_module 
    =link_to "List sub-applications", subapps_path
      
  


