.dashboard
       
  #launch_select.remote_module
  :javascript
    new Ajax.Request('#{url_for(:controller => :launches, :action => :select, :params => {:orders => 'launches.created_at DESC', :preferences=>'true'})}');
  %span 
    %h5 
  
    
  .remote_module 
    =link_to "Manage sub-applications", subapps_path
    
  .remote_module
    =link_to "Manage users", people_path
      
  


