.dashboard
  %span 
    %h5 
      create new launch:
      - @subapps.sort do |i,j| i.name <=> j.name end.each_with_index do |subapp, i|
        = "," if i > 0
        =link_to subapp.name, new_subapp_launch_path(subapp) 
       
      
  .remote_module 
    =link_to "new subapp", new_subapp_path


