=form.hidden_field :id
.prop_row
  .label
    nickname
  .field
    = form.text_field :nickname
  .label
    roles
  .field
    -Person::ROLES.each do |role|
      .role
        = check_box_tag role, role, @person.has_role?(role), :disabled => cannot?(('appoint_' + role).to_sym, @person)
        =role 
      
