%h1 Editing sub-application
- form_for(@subapp) do |f|
  = render :partial => 'subapp', :locals =>{:f => f}
  -if can?(:update, @subapp) && !@subapp.has_launches
    = f.submit 'Update'
  
= link_to 'Show', @subapp
|
= link_to 'Select', subapps_path
