
$default_radius : 15px
$selected_background_color : #eee
$selected_border_color : #888
$unselected_border_color : #eee


$grid_logo = "grid_logo.png"

=rounded($radius : $default_radius)
  border-radius = $radius
  -moz-border-radius = $radius
  -webkit-border-radius = $radius
  
=rounded_top($radius : $default_radius)
  border-top-right-radius = $radius
  border-top-left-radius = $radius
  -moz-border-radius-topright = $radius
  -moz-border-radius-topleft = $radius
  -webkit-border-top-right-radius = $radius
  -webkit-border-top-left-radius = $radius

  
=bracket
  +rounded
  :border-left 1px solid #ccc

=embed($w : 0px)
  :text-shadow #fff 1px 1px 0px
=shadowed
  :text-shadow rgb(217, 217, 217) 3px 3px 0px

#header
  :margin-top 0.6em
  //:height = 50px
  //+shadowed
  +embed
  :text-align left

  :font-size 2em
  :margin-bottom 0.2em
  .logo
    :float left
    +rounded(15px)
    :background= image_url('niif_honlap_logoN_gray2.png') no-repeat
    min-width: 154px
    max-width: 154px
    min-height: 93px
    //position: relative
    //top: 15px
  #title
    :margin-left 157px
    :padding-top 25px
    :color #999
    
  :clear both
    
#sidebar
  +rounded
  +embed
  :background= image_url($grid_logo)
  :background-repeat repeat-y
  :height 500px
  :padding-top 25px
  >.place_holder
    :padding 20px
  .broadcast
    :font-size 3em
    :color red
  
#footer 
  #version
    font-size: 0.9em
    :color lightblue
    +embed
    :padding-top 20px
    padding-bottom: 5px
    
  
.bp 
  background: #eaeaea
    

  
  
.page_title
  +rounded
  padding: 8px
  background-color: #ddd
  
.notice 
  +rounded
  background: #ffdeb4

.dashboard
  +rounded
  :border-left 1px solid #ccc
  //:background yellow
  :padding 10px
  
.remote_module
  +rounded
  :padding 6px
  :border 1px solid #ddd 
  
  margin: 5px
  background: #eee
  
.tabpanel
  :display block
  :clear both
  :padding 10px
  +rounded(3px)
  :margin none
  :background-color $selected_background_color

  
.panel_in_tab
  background-color: lighten($selected_background_color, 3%)
  +rounded(3px)

.group
  :margin 8px
  :padding 10px
  .group_title
    :background-color #EFF2B2
    +rounded(5px)
    padding: 3px
    padding-left: 1em
    margin: 3px

#container
  .action_link
    text-decoration: none
    +rounded(3px)
    border: solid 1px lightgrey
    //background: grey 
    
#container ul.subsection_tabs

  :list-style-type none
  :list-style-image none
  :list-style-position outside
  :display block
  :height 100%
  :margin 0px
  :margin-left 0.4em
  :margin-top 1em
  :padding-left 0px
  
  .tab
    :display block
    float: left
    :margin 0px
    :margin-bottom 0px
    a
      display: block
      text-decoration: none
      margin: 0px
      margin-bottom: 0px
      padding: 2px
      padding-right: 10px
      padding-left: 10px
      color: #aaa
      :background-color $unselected_border_color
      :background image_url("grad_100_50.png")
      +rounded_top(7px)
      
      &.active
        :background-color $selected_background_color
        :background-image none
        
        color: #888
        +embed
        
#container ul.group_title_tabs
  float: right
  :list-style-type none
  :list-style-image none
  :list-style-position outside
  :display inline-block
  //:height 5px
  :margin 0px
  //:margin-left 0.4em
  //:margin-top 1em
  :padding-left 0px

  .tab
    :display inline-block
    //float: left
    :margin 0px
    :margin-bottom 0px
    a
      display: block
      text-decoration: none
      margin: 0px
      margin-bottom: 0px
      padding: 2px
      padding-right: 10px
      padding-left: 10px
      color: #aaa
      :background-color $unselected_border_color
      :background image_url("grad_100_50.png")
      +rounded_top(7px)
    
      &.active
        :background-color $selected_background_color
        :background-image none
      
        color: #888
        +embed

.prop_row
  :clear both
  display: table-row
  
  .label
    :text-align right
    :padding-right 20px
    +column(6, true)
    :color grey

  .field
    +column(9, true)

    input, textarea
      position: relative

      &[type="text"]
        //+column(7)
        padding-top: 2px
        padding-bottom: 2px
        margin-top: 2px
        margin-bottom: 2px
        
.long_desc
  display: block
  clear: left
  font-size: 0.82em
  +rounded(3px)
  background: white
  padding-left: 3px
  color: lightgrey
  margin-bottom: 1em

.hidden_prototype
  //display: none
  //position: fixed
  //left: -10000
  
      
input.invalid
  color: black
  background: #F9AEA8
  border: solid 2px #FF8935
  
.help
  display: none

.help_shown
  display: inline


.debug
  background: image_url('grey79.png')
  
.window
  .window_title
    margin-top: -7px  
    margin-bottom: 7px 
    font-size: 11px 
    cursor: move
  min-width: 150px 
  min-height: 100px
  
#content
  a  
    &.add
      background: image_url("protocons/24px/actions/add.png") no-repeat center center 
      &:hover
        background: image_url("protocons/32px/actions/add.png") no-repeat center center
        
    &.minus
      background: image_url("protocons/24px/actions/minus.png") no-repeat center center
      &:hover
        background: image_url("protocons/32px/actions/minus.png") no-repeat center center
           
    &.clickable
      opacity: 0.6
      border: solid 1px #ccc
      padding: 5px
      +rounded(10px)
      text-decoration: none
      width: 20px
      height: 20px
      display: block
      
    &.help
      background: image_url("protocons/24px/status/help.png") no-repeat center center
      &:hover
        background: image_url("protocons/32px/status/help.png") no-repeat center center
        
.add_image
  background: image_url("protocons/48px/actions/add.png") no-repeat center center
      
.dyn_help
  background: image_url('grey79.png')
  display: block
  position: absolute
  z-index: 9999
  +rounded(5px)
  padding-left: 5px
  paddding-right: 5px
  //display: none
  
.action_link
  text-decoration: none
  +rounded(3px)
  border: solid 1px lightgrey
  //background: grey
  
.rounded_15
  +rounded(15)
  

        
  
  

  
  

  

      

    

  
      




  
  

  

