<p>
  <b>Person:</b>
  <%=h @preference.person_id %>
</p>

<p>
  <b>Prefs:</b>
  <%=h @preference.prefs %>
</p>


<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>