:javascript
  $('info_tab').observe('click', function(event){

    var launch_params = prepareSubmit()
    var subapp_id = $('subapp_id').innerHTML
  
    var url = '#{url_for(:controller => :subapps, :action => 'show', :id => nil)}' + '/' + subapp_id;
  
    $('info_command').innerHTML =jsonResource(url).executable
  
    if(launch_params.files && launch_params.files.size() > 0){
      $$('#launch_files *').invoke('remove')
      var idx = 0
      $('launch_files').appendChild(
        NodeBuilder(
          ['div', {'class': 'group'},
            ['div', {'class': 'group_title'},
              "Launch files"
            ],
            ['table', {},
              ['tbody', {},
                ['tr', {},
                  ['th', {}, 'name'],
                  ['th', {}, 'content']
                ]
              ].concat(
                launch_params.files.map(function(f){
                  return ["tr", {'class': 'info_launch_file' + ((idx++ % 2 == 0) ? " even" : " odd")},
                            ["td", {},
                              f.name
                            ],
                            ["td", {},
                              ["pre", {}, f.content]
                            ]
                          ]
                }
                )
              )
            ]
          ]
        )  
      )
    }
    if(launch_params.sequences && launch_params.sequences.size() > 0){
      $$('#launch_sequences *').invoke('remove')
      $('launch_sequences').appendChild(
        NodeBuilder(
          ['div', {'class': 'group'},
            ['div', {'class': 'group_title'},
              "Launch sequences"
            ],
            ['table', {},
              ['tbody', {},
                ['tr', {},
                  ['th', {}, 'name'],
                  ['th', {}, 'start'],
                  ['th', {}, 'max'  ],
                  ['th', {}, 'diff']
                ]
              ].concat(
                launch_params.sequences.map(function(seq){
                  return ['tr', {},
                           ['td', {}, seq.name],
                           ['td', {}, seq.start],
                           ['td', {}, seq.max],
                           ['td', {}, seq.diff]
                        ]
                })
              )
            ]
          ]
        )
      )
    }
   
    $('info_command_args').innerHTML = launch_params.command_args
  })