%h1 New application file
- form_for(@application_file, :html => { :multipart => true }) do |f|
  = render :partial => 'application_file', :locals =>{:f => f}
  %p
    = f.submit 'Create'
    = button_to_function "Cancel", 'history.back()'

