!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    =render :partial => 'layouts/common_head' 

    
  %body.bp.three-col
    #container
      #header
        =link_to "", {:controller => :dashboard}, {:class => 'logo'}
        #title
          =":Grid:Portál"
        #static_header_panel
          %a.clickable.help#help_button
          
      #sidebar
        .place_holder
          %a{:onClick => "debug_window.open()"}
            debug 
        #bc.broadcast
          = h ApplicationController.broadcast
      #content
        -if flash[:notice]
          .notice 
            = flash[:notice]
        = yield 
      #footer
        ="-----"
        #version
          commit version:
          =@git_version
          
#main_debug.debug{:title => "DEBUG"}
= (ENV['RAILS_ENV'] == 'development') ? "" : periodically_call_remote(:url => {:controller => 'application',  
  :action => 'pool_broadcast'}, 
  :update => 'bc', :frequency => 60)

  
:javascript

  var sessStorage = sessionStorage || {}

  function checkHelp(){
    if(sessStorage.helpIsOn == 1){
      $$('.long_desc').invoke('appear', { duration: 1});
      $('help_button').removeClassName('help_off').addClassName('help')
      
    }
    else{
      $$('.long_desc').invoke('fade');
      $('help_button').removeClassName('help').addClassName('help_off')
    }
  }

  if(sessStorage.helpIsOn === undefined){
    sessStorage.helpIsOn = 0
  }
  checkHelp();
  $('help_button').observe('click', function(){
    
    sessStorage.helpIsOn = Math.abs(+sessStorage.helpIsOn - 1)
    checkHelp();
  })
  var debug_window = window_factory($('main_debug'), 
    {'position' : [20, 300], 
    'fade' : true, 
    'resizable' : true, 
    'min-width' : 300, 
    'min-height' : 100
    });  
  //debug_window.open();
  
  function debug(str){
    $('main_debug').update(str);
  }
  
  
  

