!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    =render :partial => 'layouts/common_head' 

    
  %body.bp.three-col
    #container
      #header
        =link_to "", {:controller => :dashboard}, {:class => 'logo'}
        #title
          =":Grid:Portál"
      #sidebar
        .place_holder
          %a{:onClick => "debug_window.open()"}
            debug
        .broadcast
          = h ApplicationController.broadcast
          -#Process.pid
            
      
      #content
        -if flash[:notice]
          .notice 
            = flash[:notice]
        = yield 
      #footer
        ="-----"
        #version
          commit version:
          =@git_version
          
#main_debug.debug{:title => "DEBUG"}


  
:javascript
  var debug_window = window_factory($('main_debug'), 
    {'position' : [20, 300], 
    'fade' : true, 
    'resizable' : true, 
    'min-width' : 300, 
    'min-height' : 100
    });  
  //debug_window.open();
  
  function debug(str){
    $('main_debug').down('.window_contents').update(str);
  }
  
  
  

