!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    =render :partial => 'layouts/common_head' 

    
  %body.bp.three-col.gridportal
    #container
      #header
        =link_to "", {:controller => :dashboard}, {:class => 'logo'}
        #title
          ="::Grid::Portál"
          #login{:onmouseover => "$('logout').show()", :onmouseout => "$('logout').hide()"}
            
            =(current_user ? "logged in as " + current_user.display_name.to_s : "") rescue ""
            #logout{:style => 'display: none'}
              =link_to "logout", logout_url
        #static_header_panel
          %a.clickable.help#help_button
        
          
      #sidebar.last
        .place_holder
        #bc.broadcast
          =# h ApplicationController.broadcast#TBD turned off
        #statistics
          .title
            Statistics
          %ul
            -ApplicationController.stats.each do |pair|
              %li
                %span.name
                  =pair[0]
                %span<
                  \:
                %span.value
                  =pair[1]
          .long_desc{:style => 'display: none'}
            The statistics updated only when certain interactions occurs. Click the NIIFI logo to see
            the current values.
          
      #content
        = render :partial => '/layouts/flash', :object => flash

        = yield
 
      #footer
        #version
          commit version:
          =@git_version
          
#main_debug.debug{:title => "DEBUG"}
-if current_user
  = (ENV['RAILS_ENV'] == 'developmentYYY') ? periodically_call_remote(:url => {:controller => 'application',  
    :action => 'pool_broadcast'}, 
    :update => {:success => 'bc' }, :frequency => 60) : ""#TBD this feature is turned off




  
:javascript

  var sessStorage = sessionStorage || {}

  function checkHelp(){
    if(sessStorage.helpIsOn == 1){
      $$('.long_desc').invoke('appear', { duration: 1});
      $('help_button').removeClassName('help_off').addClassName('help')
      
    }
    else{
      $$('.long_desc').invoke('fade');
      $('help_button').removeClassName('help').addClassName('help_off')
    }
  }
  
  document.observe('gp:new_panel', function(event){
    checkHelp();
  });

  if(sessStorage.helpIsOn === undefined){
    sessStorage.helpIsOn = 0
  }
  document.fire("gp:new_panel")
  $('help_button').observe('click', function(){
    
    sessStorage.helpIsOn = Math.abs(+sessStorage.helpIsOn - 1)
    checkHelp();
  })
  var debug_window = window_factory($('main_debug'), 
    {'position' : [20, 300], 
    'fade' : true, 
    'resizable' : true, 
    'min-width' : 300, 
    'min-height' : 100
    });  
  //debug_window.open();
  
  function debug(str){
    $('main_debug').update(str);
  }
  
  
  

